<nav class="navbar">
  <div class="navbar-left">
    <span class="menu-icon">☰</span>
    <span class="logo">TindaBebidas</span>
    <span class="ubicacion">{{ ciudad() }}</span>

    <div class="navbar-search">
      <input
        type="text"
        placeholder="Buscar productos..."
        [value]="busqueda()"
        (input)="busqueda.set($any($event.target).value)"
      />
      <span class="search-icon">🔍</span>
    </div>
  </div>

  <div class="navbar-right">
  @if (nombreUsuario()) {
    <span class="usuario-nombre">👤 {{ nombreUsuario() }}</span>
    <button class="btn-cerrar-sesion" (click)="cerrarSesion()">Salir</button>
  } @else {
    <a routerLink="/login" class="ingreso">👤 Ingreso</a>
  }
  <span class="carrito">🛒</span>
</div>
</nav>
