<section class="hero">
  <img src="cerveza.gif" alt="" class="hero-fondo-gif" />
  <div class="hero-overlay"></div>

  <div class="hero-contenido">
    <h1>Encuentra tu <strong>bebida</strong> ideal</h1>

    <div class="hero-search">

      <input
        type="text"
        placeholder="¿Dónde te gustaría pedir tu pedido?"
        (input)="ubicacionService.ciudad.set($any($event.target).value)"
      />
    </div>

    <div class="hero-links">
      <span><i class="fa-solid fa-location-dot"></i> Usa tu ubicación actual</span>
    </div>
  </div>
</section>
